{# templates/blog/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}home{% endblock %}

{% block body %}
    <header>
        <h1>Welcome </h1>
    </header>
     
   

   

    
{% endblock %}
